<!doctype html>


<html>

	<head>
		
	  <title>DB Movie Search</title>
	</head>
<% #user input coming in from root page. sending user input to /results %>

	<body>
		
		<h1> Movie search </h1> 
			<form action="/results" method="get" />
			<input type="text" name="title" placeholder="Movie name here!" />
		<input type="submit">  
	</body>

</html>